<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body class="container">
    <div class="header">
        <p class="text">
            {{ form_data.header_text.data | newline2br }}
        </p>
    </div>
    <div class="heading">
        {{ form_data.heading.data | newline2br }}
    </div>
    <div class="text">
        {{ form_data.footer_text.data | newline2br }}
    </div>
</body>
</html>