@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic-ext');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.container {
    background-color: #2d2d2d;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    min-height: 830px;
    padding: 105px;
    width: 1280px;
}

.container > *:not(:last-child) {
    margin-bottom: 15px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.text {
    color: #ee4b28;
    font-size: 38px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.header > .text {
    max-width: 50%;
}

.heading {
    border-left: 8px solid #ee4b28;
    display: block;
    font-size: 62px;
    font-weight: 700;
    line-height: 1.3;
    padding: 20px 0 20px 50px;
}
